/* general */
header,
button,
.oddCol {
  background-color: #c3c2c3;
}

body,
.main,
footer,
#paragraph {
  background-color: white;
}

/* Starting configs */
.resume,
.projects,
.projects button img,
.contact, #contactB,
.tab {
  display: none;
}

#aboutB {
  background-color: #868686;
  color: white;
}

/* Interactions */
/* About tab */

body,
a,
button {
  font-family: sans-serif;
  color: black;
  text-decoration: none;
}

img {
  height: 50px;
}

header,
#buttonDiv,
footer {
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

header > span,
div {
  display: inline-table;
  text-align: center;
  margin: auto;
  border: transparent solid 10px;
}

header,
footer {
  left: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
}

.main {
  margin-top: 13vh;
  width: 50vw;
  margin-left: 25%;
}

#paragraph {
  font-size: 2vw;
}

#myPicture {
  border: #c3c2c3 solid 2px;
  border-radius: 20%;
  width: 40%;
  height: auto;
}

#buttonDiv {
  display: inline-table;
}

button {
  font-size: 1.2vw;
  font-weight: bold;
  border: transparent solid 1px;
  margin: 0.5vw;
  border-radius: 5%;
  width: 8vw;
  height: 4vw;
}

button:hover {
  color: white !important;
  cursor: pointer;
  background-color: #868686 !important;
}

#reference {
  width: 100%;
  height: 100%;
}

#myDescription {
  margin: auto;
}

/* Resume tab */
.resume {
  display: inline-flexbox;
  justify-content: left;
  text-align: justify;
}

#downloadResumeB {
  width: fit-content;
  height: auto;
}

.resume table {
  border-collapse: collapse;
}

.resume td,
th {
  text-align: center;
  padding: 0.5vw;
}

/* Projects tab */
.resume div,
.projects div,
.contact table {
  display: flexbox;
  text-align: justify;
  justify-content: center;
  margin: auto;
}

.title {
  justify-content: center;
  text-align: center;
}

iframe,
.projects table {
  width: 40vw;
}

iframe {
  border: #c3c2c3 solid 2px;
  aspect-ratio: 16 / 9;
}

/* Phone */
@media only screen and (max-width: 1300px) {
  #myName,
  #socialsTop,
  #createdBy,
  .projects button p,
  form {
    display: none;
  }

  main,
  #myPicture {
    margin-top: 3vh;
  }

  main {
    margin-bottom: 5vh;
  }

  .main {
    width: 100vw;
    margin-left: 0;
  }

  .contact img {
    padding: 5vh;
    width: 30vw;
    height: fit-content;
  }
  #buttonDiv button, #buttonDiv .tab{
    display: contents;
    justify-content: space-between;
  }

  button {
    width: 23vw;
    height: auto;
    font-size: 4vw;
  }

  #myDescription,
  .resume,
  .projects,
  .contac,
  iframe,
  .projects table,
  .main {
    width: fit-content;
    margin: 0;
    font-size: 3vw;
    justify-items: center;
  }

  .projects button {
    width: fit-content;
    height: fit-content;
  }

  .projects button img {
    display: flex;
    margin: auto;
  }

  iframe {
    width: 100%;
  }

  #myPicture {
    width: 50vw;
  }
}
